{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Treadmill Deals!</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'affiliate/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'affiliate/css/modern-business.css' %}" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">Treadmill Deals!</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="services.html">Privacy Policy</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <!-- Slide One - Set the background image for this slide in the line below -->
                <div class="carousel-item active"
                    style="background-image: url('{% static "affiliate/images/1.jpeg" %}')">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Treadmills Deals !</h3>
                        <p>Find the lowest treadmill prices online!</p>
                    </div>
                </div>
                <!-- Slide Two - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url('{% static "affiliate/images/2.jpeg" %}')">
                </div>
                <!-- Slide Three - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url('{% static "affiliate/images/3.jpeg" %}')">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">



        <!-- Portfolio Section -->
        <h1 class="my-4">Treadmill Deals...</h1>

        <div class="row">
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="https://amzn.to/2UzZbA9" target="_blank"><img class="card-img-top"
                            src="{% static 'affiliate/images/t1.jpg' %}" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="https://amzn.to/2UzZbA9" target="_blank">NordicTrack T Series Treadmill
                            </a>
                        </h4>
                        <p class="card-text">Interactive Personal Training at Home powered by iFit; 1-year iFit
                            membership included with your treadmill; gain access to on-demand, interactive trainer-led
                            global and studio workout programs ($396 value).</p>
                        <a href="https://amzn.to/2UzZbA9" class="btn btn-secondary" target="_blank">$1,248.47
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="https://amzn.to/2UiJz5s" target="_blank"><img class="card-img-top"
                            src="{% static 'affiliate/images/t2.jpg' %}" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="https://amzn.to/2UiJz5s" target="_blank">Sunny Health & Fitness SF-T7603 Electric
                                Treadmill</a>
                        </h4>
                        <p class="card-text">Sturdy, quiet, & high quality, solid steel construction with extra shock
                            Absorption System make your indoor run or walk a steady and effective cardio workout while
                            getting the best value from sunny treadmills.</p>
                        <a href="https://amzn.to/2UiJz5s" class="btn btn-secondary" target="_blank">$279.12
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="https://amzn.to/3budSff" target="_blank"><img class="card-img-top"
                            src="{% static 'affiliate/images/t3.jpg' %}" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="https://amzn.to/3budSff" target="_blank">Sunny Health & Fitness Water Rowing
                                Machine </a>
                        </h4>
                        <p class="card-text">WATER PERFORMANCE: The water creates a smooth and steady rowing experience
                            with every stroke with instant resistance coming from the flywheel and steel fan blades,
                            giving the user a unique experience.</p>
                        <a href="https://amzn.to/3budSff" class="btn btn-secondary" target="_blank">$347.62
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="https://amzn.to/2Jc7ZqH" target="_blank"><img class="card-img-top"
                            src="{% static 'affiliate/images/t4.jpg' %}" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="https://amzn.to/2Jc7ZqH" target="_blank">Sunny Health & Fitness SF-E902 Air Walk
                            </a>
                        </h4>
                        <p class="card-text">AIR WALK TRAINER: The non-slip pedals will help simulate a slow walk or
                            work up to a full run while maintaining a continuous motion capability without interruption.
                            Maximum weight capacity is 220 Ibs. 30 inch stride length .</p>
                        <a href="https://amzn.to/2Jc7ZqH" class="btn btn-secondary" target="_blank">$76.55

                        </a>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="https://amzn.to/2UB5BPA" target="_blank"><img class="card-img-top"
                            src="{% static 'affiliate/images/t5.jpg' %}" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="https://amzn.to/2UB5BPA" target="_blank">DeskCycle Under Desk Cycle,Pedal Exerciser
                            </a>
                        </h4>
                        <p class="card-text">STAY FIT IN THE OFFICE - Our high-quality portable under desk bike keeps
                            you focused, improves productivity and burns calories at your home desk or in the office.
                        </p>
                        <br><br><a href="https://amzn.to/2UB5BPA" class="btn btn-secondary" target="_blank">$145.53
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="https://amzn.to/3bpiNOp" target="_blank"><img class="card-img-top"
                            src="{% static 'affiliate/images/t6.jpg' %}" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="https://amzn.to/3bpiNOp" target="_blank">Exercise Cycling Bike, Home Fitness
                                Bicycle</a>
                        </h4>
                        <p class="card-text">Indoor Cycling Bike Belt Drive Stationary Bicycle Exercise Bikes with
                            LCD Monitor for Home Cardio Workout Bike Training- Black Health & Fitness Pro Indoor Cycling
                            Bike Stationary Bike, Belt Drive Indoor Cycling Exercise Bike with 40LBS Flywheel. </p>
                        <a href="https://amzn.to/3bpiNOp" class="btn btn-secondary" target="_blank">$129.99
                        </a>

                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <br>
        <hr>
        <br>
        <!-- Features Section -->
        <div class="row">
            <div class="col-lg-6">
                <script type="text/javascript">
                    amzn_assoc_placement = "adunit0";
                    amzn_assoc_search_bar = "true";
                    amzn_assoc_tracking_id = "naaki-20";
                    amzn_assoc_search_bar_position = "bottom";
                    amzn_assoc_ad_mode = "search";
                    amzn_assoc_ad_type = "smart";
                    amzn_assoc_marketplace = "amazon";
                    amzn_assoc_region = "US";
                    amzn_assoc_title = "Shop Related Products";
                    amzn_assoc_default_search_phrase = "exersise equipment";
                    amzn_assoc_default_category = "All";
                    amzn_assoc_linkid = "a429548e25fa17e6ca98cb507d51a293";
                </script>
                <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
            </div>
            <div class="col-lg-6">
                <script type="text/javascript">
                    amzn_assoc_placement = "adunit0";
                    amzn_assoc_search_bar = "true";
                    amzn_assoc_tracking_id = "naaki-20";
                    amzn_assoc_search_bar_position = "bottom";
                    amzn_assoc_ad_mode = "search";
                    amzn_assoc_ad_type = "smart";
                    amzn_assoc_marketplace = "amazon";
                    amzn_assoc_region = "US";
                    amzn_assoc_title = "Shop Related Products";
                    amzn_assoc_default_search_phrase = "treadmills";
                    amzn_assoc_default_category = "All";
                    amzn_assoc_linkid = "eba623cc6a93def51049ab027340419c";
                </script>
                <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
            </div>
        </div>
        <!-- /.row -->
        <br>
        <hr>
        <br>
        <!-- Call to Action Section -->
        <div class="row mb-4">
            <div class="col-md-8">
                <p>Jogging in your own home has never been easier ! We searched all of Amazon.com for the lowest
                    treadmill
                    prices ...</p><br><br>
            </div>
            <div class="col-md-4">
                <a class="btn btn-lg btn-secondary btn-block"
                    href="https://www.amazon.com/s?k=treadmills&i=sporting&camp=1789&creative=9325&linkCode=ur2&linkId=3b34ff7e1e2781282709b0ea3ccfd994&tag=naaki-20"
                    target="_blank">Shop
                    Treadmill on Amazon</a>
            </div>
        </div>

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'affiliate/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'affiliate/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>